* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.slider {
    width: 1920px;
    height: 1024px;
    background-image: url(img/2-layers.jpg);
    position: relative;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 62px;
    margin-left: 400px;
}


.menu-link {
    text-decoration: none;
    padding-left: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.menu-link-active {
    text-decoration: none;
    padding-left: 30px;
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}


.menu-link:hover {
    text-decoration: none;
    padding-left: 30px;
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.slider-title {
    text-align: center;
    margin-top: 381px;
}

.slider-title-h2 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
}

.slider-title-h1 {
    color: #ffffff;
    font-family: "Raleway - Extra Bold";
    font-size: 52px;
    font-weight: 400;
}

.slider-main-text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 562px;
    margin-left: 680px;
    padding-top: 19px;
    padding-bottom: 52px;
}


.button {
    background-color: #ffffff;
    opacity: 0.5;
    width: 11px;
    height: 11px;
    border: 2px solid #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}

.button:hover {
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
}


.button-active {
    width: 15px;
    height: 15px;
    border: 3px solid #d3c1ad;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
}

.btn-start {
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

.btn-start-active:hover {
    width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'Raleway', 'Montserrat';
    font-size: 16px;
    font-weight: 700;
}

.arrow-link {
    border: solid #a2a19f;
    opacity: 0.5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;

}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    left: 7%;
    top: 575px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 7%;
    top: 575px;
}

.left:hover {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
}

.right:hover {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
}

.header {
    display: flex;
}

.logo-image {
    margin-top: 35px;
    margin-left: 276px;
}

.paggination {
    position: absolute;
    bottom: 40px;
    left: 930px;
}

.web{
color: #555555;
font-family: "Raleway - Semi Bold";
font-size: 22px;
font-weight: 400;
padding-top: 19px;
    padding-bottom: 19px;
   
}

.web-p{
width: 270px;
color: #8c8c8c;
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
line-height: 24px;
padding-top: 19px: 
}


.img-menu{
width: 49px;
height: 49px;
}

.bottom-menu{
    display: flex;
    margin-top: 80px;
    margin-left: 378px;
    height: 373px;
}

.bottom-menu-wrap{
    padding-left: 30px;
    text-align: center;
          
    }


.box{
    border-bottom: 3px solid #ffffff;
    width: 285px;
    height: 200px;
    position: relative;
  z-index : 1;
}

.box:before {
  content : "";
  position: absolute;
  left    : 30%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  
  border-bottom:1px solid #f1eee9;
 
}

.box:hover{
 border-bottom: 3px solid #c7b299; 
}

.box:hover .img-menu{
    fill: "red";
    stroke: "red";
}

.box:hover .web{
    color: #c7b299;
}

.box:after::hover{
   border-bottom: 3px solid #c7b299; 
}

.web-active{
  color: #c7b299;
font-family: "Raleway - Semi Bold";
font-size: 22px;
font-weight: 400;
padding-top: 19px;
    padding-bottom: 19px;
}

.box-active{
   border-bottom: 3px solid #c7b299;
    width: 285px;
    height: 200px;
    position: relative;
  z-index : 1;   
}


.ideas{
width: 1920px;
height: 700px;
}

.ideas-title{
color: #555555;
font-family: "Raleway - Semi Bold";
font-size: 30px;
font-weight: 400;
   margin-left: 40%;
    padding-bottom: 24px;
    padding-top: 83px;
}

.ideas-text{
color: #8c8c8c;
font-family: Montserrat;
font-size: 16px;
font-weight: 300;
line-height: 28px;
   margin-left: 32%;
    width: 757px;
    padding-bottom: 40px;
 text-align: center;
}

.layouts img{
    width: 770px;
    margin-bottom: -4px;
}
.layouts{
    position: relative;
    text-align: center;
}

.layout-item-1, .layout-item-3{
    position: absolute;
    height: 400px;
     z-index: -1;
    
}

.layout-item-1{
    top:20px; left:0; 
   
}
.layout-item-3{
   top:20px; right:0;   
}

.new